{% extends "layout.html" %}
{% block body %}
{% from "_formhelpers.html" import render_field, render_date_field %}
<form action="{% if book.id %}{{ url_for('book_edit', book_id=book.id) }}
              {% else %} {{ url_for('book_add') }}
              {% endif %}" method="post">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Basic Info</legend>
        {{ render_field(form.title, value=book.title|default('', True)) }}
        {{ render_field(form.imprint, value=book.imprint|default('', True)) }}
        {{ render_field(form.eisbn, value=book.eisbn|default('', True)) }}
        {{ render_field(form.pisbn, value=book.pisbn|default('', True)) }}
        {{ render_field(form.language, value=book.language|default('', True)) }}
        {{ render_field(form.description, value=book.description|default('', True)) }}
    </fieldset>
    <fieldset>
        <legend>People</legend>
        {{ render_field(form.authors) }}
        {{ render_field(form.editors) }}
        {{ render_field(form.illustrators) }}
        {{ render_field(form.contributors) }}
        {{ render_field(form.translators) }}
    </fieldset>
    <fieldset>
        <legend>Dates</legend>
        {{ render_date_field(form.release_date) }}
        {{ render_date_field(form.publishing_date) }}
    </fieldset>
    <fieldset>
        <legend>Description Codes</legend>
        {{ render_field(form.bic, value=book.bic|default('', True)) }}
        {{ render_field(form.bisac, value=book.bisac|default('', True)) }}
    </fieldset>
    <fieldset>
        <legend>Price</legend>
        {{ render_field(form.list_price, value=book.list_price|default('', True)) }}
        {{ render_field(form.currency) }}
    </fieldset>
    <fieldset>
        <legend>Series Info</legend>
        {{ render_field(form.series) }}
        {{ render_field(form.edition, value=book.edition|default('', True)) }}
        {{ render_field(form.volume, value=book.volume|default('', True)) }}
    </fieldset>
    <fieldset>
        <legend>Sales Rights</legend>
        {{ render_field(form.territory) }}
    </fieldset>
    <input type="submit" class="btn" value="Submit" />
</form>
{% endblock %}