{% extends "layout.html" %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
<form action="{{ url_for('book_edit', book_id=book.id) }}" method="post">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Basic Info</legend>
        {{ render_field(form.title, value=book.title|default('', True)) }}
        {{ render_field(form.imprint, value=book.imprint|default('', True)) }}
        {{ render_field(form.eisbn, value=book.eisbn|default('', True)) }}
        {{ render_field(form.pisbn, value=book.pisbn|default('', True)) }}
        {{ render_field(form.language, value=book.language|default('', True)) }}
        {{ render_field(form.description, value=book.description|default('', True)) }}
    </fieldset>
    <fieldset>
        <legend>Description Codes</legend>
        {{ render_field(form.bic, value=book.bic|default('', True)) }}
        {{ render_field(form.bisac, value=book.bisac|default('', True)) }}
    </fieldset>
    <fieldset>
        <legend>Price</legend>
        {{ render_field(form.list_price, value=book.list_price|default('', True)) }}
        {{ render_field(form.currency, selected=book.currency|default('USD', True)) }}
    </fieldset>
    <fieldset>
        <legend>Series Info</legend>
        {{ render_field(form.series, value=book.series|default('', True)) }}
        {{ render_field(form.edition, value=book.edition|default('', True)) }}
        {{ render_field(form.volume, value=book.volume|default('', True)) }}
    </fieldset>
    <input type="submit" class="btn" value="Submit" />
</form>
{% endblock %}