{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('book_edit', book_id=book.id) }}" method="put">
    <fieldset>
        <legend>Basic info</legend>
        <label>Title</label>
        <input type="text" id="title" value="{{ book.title }}">
        <label>Imprint</label>
        <input type="text" id="imprint" value="{{ book.imprint }}">
        <label>eISBN</label>
        <input type="text" id="eisbn" value="{{ book.eisbn }}">
        <label>Physical ISBN</label>
        <input type="text" id="pisbn" value="{{ book.pisbn }}">
    </fieldset>
    <input type="submit" class="btn" value="Submit" />
</form>
{% endblock %}