<!DOCTYPE html>
<html>
	<head>
		<title>{{ page_title }}</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/extra.css') }}">
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a href="/" class="brand">Book Manager</a>
				</div>
			</div>
		</div>
		<div class="container">
			{% block body %}{% endblock %}
		</div>
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	</body>
</html>
