{% extends "layout.html" %}
{% block body %}
{% from "_formhelpers.html" import render_field, render_date_field %}

<form action="{% if series %}{{ url_for('series_edit', series_id=series.id) }}
              {% else %} {{ url_for('series_add') }}
              {% endif %}" method="post">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Series Info</legend>
        {{ render_field(form.title) }}
        {{ render_date_field(form.begin_date, readonly='') }}
        {{ render_date_field(form.end_date, readonly='') }}
    </fieldset>
    <input type="submit" class="btn" value="Submit" />
</form>
{% endblock %}

